.movie{
  background-color: PaleGreen;
  font-size: 20px;
}
.food{
  background-color: PaleTurquoise;
  font-size: 20px;
}
.hiking{
  background-color: PaleTurquoise;
  font-size: 20px;
}
.videoGames{
  background-color: PaleGreen;
  font-size: 20px;
}
.soccer{
  background-color: PaleGreen;
  font-size: 20px;
}
.publicMeetup{
  background-color: PaleTurquoise;
  font-size: 20px;
}
